.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin: 0px 0px 0px 30px;
}

.movieRowlistarea{
    overflow: hidden;
    padding-left: 30px;
}



.movieRowitem{
    display: inline-block;
    width:150px;
    cursor: pointer;
}
.movieRowitem img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movieRowitem img:hover{
    transform: scale(1);
}

.movieRowL,
.movieRowR{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRowL{
    left: 0;
}

.movieRowR{
    right:0;
}

.movieRow:hover .movieRowL,
.movieRow:hover .movieRowR{
    opacity: 1;
}

.movieRowlists{
    transition: all ease 0.9s;
}

@media(max-width:768px){
    .movieRowL,
    .movieRowR{
        opacity: 1;
    }
}